<!-- <app-member></app-member> -->

<!-- Begin Page Content -->
<div class="container-fluid">             

    <div class="row py-5">
        <div class="col-md-2 order-md-1">
        </div>
        <div class="col-md-8 order-md-1">
            <div class="py-2">
                <!--<img class="d-block mx-auto mb-4" src="assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
                <h3 class="text-gray-800">{{title}}</h3>
                <hr class="mb-4">
            </div>
            <div class="row">
                <!-- <div class="col-md-4 order-md-2 mb-4">
                    <p style="color:#131315 !important;">
                        Please enter valid information . After passport information is filled up , a My-Evisa Refferenceno will be generated for the visa application rregistartion No.<br />
                        <b>My-EVisa RefNo.<br />  CN/20/04/00/0001</b>
                    </p>
                    <p style="color:#131315 !important;">
                        Note :<br />
                        <br />
                        CN  : China<br />
                        20  : Year<br />
                        04  : Month<br />
                        00  : Embasy ID <br />
                        001 : Visa no.
                    </p>
                    <p style="color:#131315 !important;">
                        My-EVisa Ref No Is for Checking Visa Status , printing visa and further verification.

                    </p>
                </div> -->
                <div class="col-md-12 order-md-1">
                    <!--<h4 class="mb-3">Personal information</h4>
                    <hr class="mb-4">-->
                    <form class="needs-validation"  novalidate>
                    <!-- <form class="needs-validation" [formGroup]="paymentInfoForm" novalidate> -->
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">No Of Application :</label>

                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="firstName" > {{totalApplicant}} </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Proccesing Type :</label>

                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="firstName"  > {{processType}} </label>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Application/Government Fees :</label>

                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="firstName" > USD {{applicationFees| number : '1.1-1'}} </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Processing Fees :</label>

                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="firstName"  > USD {{processFees| number : '1.1-1'}} </label>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Total Amount :</label>

                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="firstName" [(ngModel)]="totalFees" name="totalFees" > USD {{totalFees| number : '1.1-1'}} </label>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Payment Options  :</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div *ngFor="let payMode of paymentModeList"  >
                                    <!-- <label for="{{payMode.PaymentModeID}}">
                                        <input id="{{payMode.PaymentModeID}}" class="custom-radio" style="width: 20% !important;" [value]='payMode.PaymentModeID' type="radio" name="payment"  [(ngModel)]="radioSelected">
                                        {{payMode.PaymentMode1}}
                                      </label> -->
                                      <input id="{{payMode.PaymentModeID}}" class="custom-radio" style="width: 10% !important;" [value]='payMode.PaymentModeID' type="radio" name="payment"  [(ngModel)]="radioSelected" name="radioSelected">
                                        {{payMode.PaymentMode1}}
                                </div>
                            </div>   
                        </div>  
                        <!-- <input type="hidden" [(ngModel)]="Payment.ApplicationId" value="{{applicationId}}" >  -->
                        <!-- <input type="hidden" [(ngModel)]="Payment.TotalAmt" value="{{totalFees}}" > 
                        <input type="hidden" [(ngModel)]="Payment.PaidAmt" value="{{totalFees}}" > 
                        <input type="hidden" [(ngModel)]="Payment.PayDate" value="{{dFormat}}" > 
                        <input type="hidden" [(ngModel)]="Payment.Status" value="{{status}}" >                      -->
                        <!-- {{payment | json}} -->
                        <hr class="mb-4">
                        
                        <button class="btn btn-primary btn-md" (click)="onSave($event)" type="submit">Save & Continue</button>&nbsp;
                        <button class="btn btn-danger btn-md" type="submit">Cancel</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
<router-outlet></router-outlet>