<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">Register MyE-Visa Application</h2>
                <p>Fill all form field to go to next step</p>

                <mat-horizontal-stepper labelPosition="bottom" linear #stepper>
                    <mat-step [stepControl]="ApplicationTypeFormGroup" errorMessage="Application Type is required.">
                        <form [formGroup]="ApplicationTypeFormGroup">
                            <ng-template matStepLabel>Application Type</ng-template>
                            <div class="example-container">
                                <mat-form-field appearance="outline">
                                    <mat-label>Application Type</mat-label>
                                    <mat-select matNativeControl formControlName="SubmissionType">
                                        <mat-option value="1">Group of My E-Visa</mat-option>
                                        <mat-option value="2">Individual’s MyE-Visa</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>Select the origin country(Nationality as in passport)</mat-label>
                                    <mat-select placeholder="Origin Country" formControlName="CountryID" (selectionChange)="countryChanged()">
                                        <mat-option [value]="null">No default type</mat-option>
                                        <mat-option *ngFor="let c of countryList" [value]="c.CountryID">{{
                                            c.CountryName }}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <!-- <mat-form-field appearance="outline">
                                    <mat-label>Embassy / Consulate</mat-label>
                                    <mat-select placeholder="Embassy / Consulate" formControlName="CenterID">
                                        <mat-option [value]="null">No default type</mat-option>
                                        <mat-option *ngFor="let c of centerList" [value]="c.CenterID">{{
                                            c.CenterName }}</mat-option>
                                    </mat-select>
                                </mat-form-field> -->
                                <br>

                                <mat-form-field appearance="outline">
                                    <mat-label>Number of Applicant</mat-label>
                                    <input matInput placeholder="Number of Applicant">
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>15</mat-label>
                                    <input matInput placeholder="15 day(maximum)" disabled>
                                </mat-form-field>

                                <mat-form-field appearance="outline">
                                    <mat-label>Is Sponsored</mat-label>
                                    <mat-select>
                                        <mat-option value="1">Yes</mat-option>
                                        <mat-option value="0">No</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <br>

                                <mat-form-field appearance="outline">
                                    <mat-label>Visa Processing Type</mat-label>
                                    <mat-select>
                                        <mat-option value="5">Ordinary</mat-option>
                                        <mat-option value="2">Rush</mat-option>
                                        <mat-option value="1">Extra Rush</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <br>

                                <mat-form-field appearance="outline">
                                    <mat-label>Purpose of Journey</mat-label>
                                    <mat-select>
                                        <mat-option value="5">Business</mat-option>
                                        <mat-option value="2">Conference</mat-option>
                                        <mat-option value="1">Employment</mat-option>
                                        <mat-option value="1">Holiday</mat-option>
                                        <mat-option value="1">Medical / Medical Tourism</mat-option>
                                        <mat-option value="1">Official Trip</mat-option>
                                        <mat-option value="1">Study</mat-option>
                                        <mat-option value="1">Tourist/Social Visit</mat-option>
                                        <mat-option value="1">Transit</mat-option>
                                        <mat-option value="1">Visiting Friend / Relative</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <br>
                            </div>

                            <div>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>Applicant Information</ng-template>
                            <mat-form-field>
                                <mat-label>Address</mat-label>
                                <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl"
                                    required>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="thirdFormGroup" errorMessage="Address is required.">
                        <form [formGroup]="thirdFormGroup">
                            <ng-template matStepLabel>Passport Details</ng-template>
                            <mat-form-field>
                                <mat-label>Address</mat-label>
                                <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="thirdCtrl"
                                    required>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="fourthFormGroup" errorMessage="Address is required.">
                        <form [formGroup]="fourthFormGroup">
                            <ng-template matStepLabel>Payment</ng-template>
                            <mat-form-field>
                                <mat-label>Address</mat-label>
                                <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="fourthCtrl"
                                    required>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>
                        <p>You are now done.</p>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button (click)="stepper.reset()">Reset</button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>


            </div>
        </div>
    </div>
</div>