<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">Register MyE-Visa Application</h2>
                <p>Fill all form field to go to next step</p>

                <mat-horizontal-stepper labelPosition="bottom" #stepper>
                    <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
                        <form [formGroup]="firstFormGroup">
                            <ng-template matStepLabel>Application Type</ng-template>
                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Last name, First name" formControlName="firstCtrl"
                                    required>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
                        <form [formGroup]="secondFormGroup">
                            <ng-template matStepLabel>Applicant Information</ng-template>
                            <mat-form-field>
                                <mat-label>Address</mat-label>
                                <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl"
                                    required>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="thirdFormGroup" errorMessage="Address is required.">
                        <form [formGroup]="thirdFormGroup">
                            <ng-template matStepLabel>Passport Details</ng-template>
                            <mat-form-field>
                                <mat-label>Address</mat-label>
                                <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="thirdCtrl"
                                    required>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="fourthFormGroup" errorMessage="Address is required.">
                        <form [formGroup]="fourthFormGroup">
                            <ng-template matStepLabel>Payment</ng-template>
                            <mat-form-field>
                                <mat-label>Address</mat-label>
                                <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="fourthCtrl"
                                    required>
                            </mat-form-field>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button mat-button matStepperNext>Next</button>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>
                        <p>You are now done.</p>
                        <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button (click)="stepper.reset()">Reset</button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>


            </div>
        </div>
    </div>
</div>