<div class="container-fluid">
    <div class="row py-5">
        <div class="col-md-2 order-md-1">
        </div>
        <div class="col-md-8 order-md-1">
            <div class="py-2">                
                <!-- <h2 class="text-gray-800">{{title}}</h2> -->
                <h2 class="m-0 text-primary" >{{title}}</h2>
                <hr class="mb-4">
            </div>

            <div class="row">                
                <div class="col-md-12 order-md-1">                   
                    <form class="needs-validation" [formGroup]="visaApplicationCheckForm"   (ngSubmit)="SearchApplicant()">
                        <div class="mb-3">                            
                            <div class="row">
                                <label class="col-md-4" for="country" style="text-align: right;">MyE-Visa Reference Number</label>
                                <div class="col-md-4">
                              
                                    <input type="text" formControlName="visaRefNo"  class="form-control" id="chkVisaRefNo" placeholder="" [ngClass]="{ 'is-invalid': isSubmitted && f.visaRefNo.errors }" >
                                    <div *ngIf="isSubmitted && f.visaRefNo.errors" class="invalid-feedback">
                                     <div *ngIf="f.visaRefNo.errors.required">Applicant Reference Number Required</div>                                    
                                   </div>
                               
                                
                               
                                
                                </div>  
                                <div class="col-md-4">
                                     <button class="btn btn-primary" type="submit">Enter</button>
                                </div>  

                            </div>
                            <div *ngIf="divError">
                                <div class="row d-flex justify-content-center ">
                                    <div class="row">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <p class="text-danger">{{error}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                        
                        </div>                       
                        
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 order-md-1">
                    <div *ngIf="applicantStatusList?.length">
                        <div class="row">
                            <button class="btn btn-primary" type="submit" (click)="goToSubmitApplication(applicantStatusList[0].APPLICATIONID)">Application Submitted</button>&nbsp;&nbsp;
                            <button class="btn btn-primary" type="submit" (click)="popupApplicationStatus(applicantStatusList[0].Status)">Application Status</button>&nbsp;&nbsp;
                            <button class="btn btn-primary" type="submit" (click)="popupDateofSubmission(applicantStatusList[0].SubmissionDate)">Date of Submission</button>&nbsp;&nbsp;
                            <button class="btn btn-primary" type="submit" (click)="popupVisaStatus(applicantStatusList[0].ApprovalStatus,applicantStatusList[0].Status)">Visa Status</button>
                        </div>                        
                    </div>
                </div>
                <div class="col-md-12 order-md-1">
                    <div class="row"></div>
                </div>
                <div class="col-md-12 order-md-1"></div>
            </div>


        </div>
    </div>
</div>
<router-outlet></router-outlet>

