<div class="container-fluid">            

    <div class="row py-5">
        <div class="col-md-2 order-md-1">
        </div>
        <div class="col-md-8 order-md-1">
            <div class="py-2">
                <!--<img class="d-block mx-auto mb-4" src="assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
                <h3 class="text-gray-800">{{title}}</h3>
                <hr class="mb-4">
            </div>
            <div class="row">
               
                <div class="col-md-8 order-md-1">
                    <!--<h4 class="mb-3">Personal information</h4>
                    <hr class="mb-4">-->
                    <form class="needs-validation" [formGroup]="forgotPasswordForm"  (ngSubmit)="Save()">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="fullName">Email</label>
                                <input type="text" class="form-control" formControlName="Email" id="Email" placeholder="" value="" [ngClass]="{ 'is-invalid': isSubmitted && f.Email.errors }">
                                <div *ngIf="isSubmitted && f.Email.errors" class="invalid-feedback">
                                    <div *ngIf="f.Email.errors.required">Email Required</div> 
                                    <div *ngIf="f.Email.errors.email">Must be a valid email address</div>                                   
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="surName">New Password</label>
                                <input type="text" class="form-control" formControlName="NewPassword" id="NewPassword" placeholder="" value="" [ngClass]="{ 'is-invalid': isSubmitted && f.NewPassword.errors }">
                                <div class="invalid-feedback">
                                    Please enter new password
                                </div>
                            </div>                         

                        </div>    
                        

                        <button class="btn btn-primary btn-md" type="submit">Save</button>&nbsp;
                        <button class="btn btn-danger btn-md" type="submit">Cancel</button>
                    </form>
                </div>
            </div>
            
                
            </div>
        </div>

</div>