<!-- HEADER
============================================= -->
<header id="header-2" class="header white-menu">
	<div class="header-wrapper">
		<!-- MOBILE HEADER -->
	    <div class="wsmobileheader clearfix">	
	    	<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>	    	
	    	<span class="smllogo"><img src="assets/images/logo-black.png" width="200" height="50" alt="mobile-logo"/></span>
	    	<a href="tel:123456789" class="callusbtn"><i class="fas fa-phone"></i></a>
	 	</div>


	 	<!-- HEADER STRIP -->
	 	<div class="headtoppart bg-white clearfix">
	    	<div class="headerwp clearfix">

	    		<!-- Infotmation -->
	     		<div class="headertopleft">			     			
	        		<div class="header-info clearfix">
	        			<span class="txt-400"><i class="fas fa-map-marker-alt"></i>2-15, 2nd Floor, Glomac Centro, Jalan Teratai PJU 6A 
							47400 Petaling Jaya 
							Selangor
						</span> 
	            	</div>
	     		</div>

	     		<!-- Contacts -->
			    <div class="headertopright header-contacts">						    	
			    	<a href="tel:123456789" class="callusbtn txt-400"><i class="fas fa-phone"></i>+603 5689452</a>
			    	<a href="mailto:info@midevs.com.my" class="txt-400"><i class="far fa-envelope-open"></i>info@midevs.com.my</a>
		      	</div>
		    </div>
   	  </div>	
	  <!-- END HEADER STRIP -->


	  	<!-- NAVIGATION MENU -->
	  	<div class="wsmainfull menu clearfix">
			<div class="wsmainwp clearfix">
  				<!-- LOGO IMAGE -->
   				<!-- For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 360 x 90 pixels) -->
   				<div class="desktoplogo"><a href="http://midevs.com.my:82/" class="logo-black"><img src="assets/images/logo-black.png" width="180" height="45" alt="header-logo"></a></div>
   				<!-- <div class="desktoplogo"><a routerLink="/homenew" class="logo-white"><img src="assets/images/logo-black.png" width="180" height="45" alt="header-logo"></a></div> -->

				<!-- MAIN MENU -->
				<nav class="wsmenu clearfix blue-header">
   					<ul class="wsmenu-list">
   						<!-- DROPDOWN MENU -->
			        	<!-- <li aria-haspopup="true"><a href="#">Home <span class="wsarrow"></span></a></li>	 -->
						<!-- END DROPDOWN MENU -->
						<li class="nl-simple" aria-haspopup="true"><a routerLink="/homenew">Home</a></li>
						<!-- <li class="nl-simple">
							<a href="http://1.9.116.25:82/?page_id=2431" >Contacts</a>
						</li> -->
						<!-- <li class="nl-simple">
							<a routerLink="/Information" >Information</a>
						</li> -->
						<li class="nl-simple">
							<a href="http://1.9.116.25:82/?page_id=2388" >F.A.Q</a>
						</li>
						<!-- <div *ngIf="userName?.length;else none"></div> -->
						<li aria-haspopup="true" *ngIf="userName?.length;else none" >
							<a  href="#">Accounts<span class="wsarrow"></span></a>
							<ul class="sub-menu">
								<li ><a routerLink="/visa-application-check">Application Status</a></li>
								<li ><a [routerLink]="['/registration',{agentId:0,countryId:countryID,contactId:contactID}]">View Profile</a></li>
								<li ><a [routerLink]="['/notification',{contactId:contactID}]">Notifications</a></li>
								<li ><a href="#" (click)="logOut()">Log Out</a></li>
							</ul>
						</li>						
						<ng-template #none>							
						</ng-template>
						<!-- <li aria-haspopup="true"><a href="#" (click)="logOut()">Log Out</a></li> -->
						

			          	<!-- PAGES -->
					    <!-- <li aria-haspopup="true"><a href="#">Apply Online <span class="wsarrow"></span></a>
						<li aria-haspopup="true"><a href="#">Information<span class="wsarrow"></span></a></li>	 -->
						<!-- END PAGES -->

					    <!-- SIMPLE NAVIGATION LINK -->
					    <!-- <li class="nl-simple" aria-haspopup="true"><a href="#">FAQ</a></li>
						<li class="nl-simple" aria-haspopup="true"><a href="#">Contact Us</a></li> -->
							
						<!-- LAST NAVIGATION LINK -->
						<!-- <li class="nl-simple" aria-haspopup="true">
						  	<a href="#" class="header-btn btn-primary tra-black-hover last-link">Sign up/Login</a>
					    </li>								     -->

   					</ul>
   				</nav>	<!-- END MAIN MENU -->
			</div>
		</div>	<!-- END NAVIGATION MENU -->
	</div>     <!-- End header-wrapper -->
</header>	<!-- END HEADER -->
<router-outlet></router-outlet>