<app-member></app-member>
<div class="container-fluid">
    <div class="row py-5">
        <div class="col-md-2 order-md-1">
        </div>
        <div class="col-md-8 order-md-1">
            <div class="py-2">
                <h3>{{title}}</h3>
                <hr class="mb-4">
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card  mb-4 alert-info">
                        <div class="card-body">
                            Applicant reference Number : {{visaRegNo}} 
                        </div>
                    </div>
                    <div class="card  mb-4 alert-warning">                        
                        <div class="card-body">
                           Application submission pending

                        </div>
                    </div>
                </div>
                
               
               
            </div>
           
        </div>
    </div>
</div>
