<!-- PRELOADER SPINNER
============================================= -->		
<div id="loader-wrapper">
    <div id="loader"><div class="cssload-box-loading"></div></div>
</div>
<!-- PAGE CONTENT
============================================= -->	
<div id="page" class="page">
    <!-- header -->
    <!-- <app-header></app-header>   -->
    <app-headernew></app-headernew>

    <!-- routes will be rendered here -->
    <router-outlet></router-outlet>
    
    <!-- footer -->
    <app-footer></app-footer> 
</div>
