<!-- <app-member></app-member> -->
 <!-- Begin Page Content -->
 <div class="container-fluid">
    <div class="row py-5">
        <div class="col-md-2 order-md-1">
        </div>
        <div class="col-md-8 order-md-1">
            <div class="py-2">                
                <h3 class="text-gray-800">Credit Card Information</h3>
                <hr class="mb-4">
            </div>
            <div class="row">
               
                <div class="col-md-12 order-md-1">
                    <form class="needs-validation" novalidate>
                        <div class="row">
                            <img src="assets/img/payment-icon-2.png" width="178px" height="30px"  alt="header-logo">
                        </div>
                        <div class="row">
                            <div class="col-md-9 mb-3">
                                <label for="firstName">Name</label>
                                <input type="text" class="form-control" id="CardName" placeholder="Ex. John" value="" required>
                                <div class="invalid-feedback">
                                    Valid CardName is required.
                                </div>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-md-9 mb-3">
                                <label for="firstName">Card No. :</label>
                                <input type="text" class="form-control" id="CardName" placeholder="XXXX XXXX XXXX XXXX" value="" required>
                                <div class="invalid-feedback">
                                    Valid CardName is required.
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="firstName">CVC</label>
                                <input type="text" class="form-control" id="cvc" placeholder="***" value="" required>
                                <div class="invalid-feedback">
                                    Valid cvc is required.
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="lastName">Expiry Month</label>
                                <select class="custom-select d-block w-100" id="month" required>
                                    <option value="">Choose Month</option>
                                    <option>January</option>
                                    <option>February</option>
                                    <option>March</option>
                                    <option>April</option>
                                    <option>May</option>
                                    <option>June</option>
                                    <option>July</option>
                                    <option>August</option>
                                    <option>September</option>
                                    <option>October</option>
                                    <option>November</option>
                                    <option>December</option>

                                </select>
                                <div class="invalid-feedback">
                                    Valid month is required.
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="lastName">Expiry Year</label>
                                <select class="custom-select d-block w-100" id="year" required>
                                    <option value="">Choose Year</option>
                                    <option>2020</option>
                                    <option>2021</option>
                                    <option>2022</option>
                                    <option>2023</option>
                                    <option>2024</option>
                                    <option>2025</option>
                                    <option>2026</option>
                                    <option>2027</option>
                                    <option>2028</option>
                                    <option>2029</option>
                                    <option>2030</option>
                                    <option>2031</option>
                                    <option>2032</option>
                                    <option>2033</option>
                                    <option>2034</option>
                                    <option>2035</option>
                                    
                                </select>
                                <div class="invalid-feedback">
                                    Valid year is required.
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4">                       
                        <button class="btn btn-primary btn-md" (click)="onPaymentClick($event)" type="submit">Pay & Continue</button>&nbsp;
                        <button class="btn btn-danger btn-md" type="submit">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->



<router-outlet></router-outlet>