<app-member></app-member>
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 order-md-1">
        </div>
        <div class="col-md-8 order-md-1">
            <div class="py-1">                
                <h3>{{title}}</h3>
                <!-- <hr class="mb-4"> -->
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-12 order-md-1">
            <!-- DataTales Example -->
            <div class="card  mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" style="font-size: 16px;">A. DETAIL INFORMATION OF APPLICATION</h6>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <label class="col-sm-5">Application Type</label>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label><a  [routerLink]="['/visa-application',{applicationId:applicationList.Applicants[0].ApplicationID}]">{{applicationDesc}}</a></label>                                
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5">Designated Embassy/Consulate</label>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Center.CenterName}}</label>                                
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5">Number of Person/Traveller</label>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.TotalApplicant}}</label>                                
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5">Duration of stay(In days)</label>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.DurationOfVisit}}</label>                                
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5">Visa Type</label>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.ApplicationType.ApplicationType1}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">Purposed of journey</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.PurposeOfVisit}}</label>
                            </div>                            
                        </div>                          
                    </form>
                    
                    <div class="row">
                        
                        
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="col-md-12 order-md-2">
            <!-- DataTales Example -->
            <div class="card  mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" style="font-size: 16px;">B. DETAIL INFORMATION OF APPLICANT</h6>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <label class="col-sm-5">First Name</label>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <!-- <label>{{applicationList.Applicants[0].FullName}}</label> -->
                                <label><a  [routerLink]="['/applicant-information',{applicantId:applicationList.Applicants[0].ApplicantID}]">{{applicationList.Applicants[0].FullName}}</a></label>
                                <!-- <input type="label" class="form-control-plaintext" [value]="applicationList.Applicants[0].FullName"> -->
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5">Given Name</label>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Applicants[0].FirstName}}</label>
                                <!-- <input type="label" class="form-control-plaintext" [value]="applicationList.Applicants[0].FirstName"> -->
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5">Family Name</label>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Applicants[0].FamlilyName}}</label>
                                <!-- <input type="label" class="form-control-plaintext" [value]="applicationList.Applicants[0].FamlilyName"> -->
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5">Date of Birth</label>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{dFormat}}</label>
                                <!-- <input type="label" class="form-control-plaintext" [value]="applicationList.Applicants[0].DOB"> -->
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5">NRIC Number</label>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Applicants[0].IDNumber}}</label>
                                <!-- <input type="label" class="form-control-plaintext" [value]="applicationList.Applicants[0].DOB"> -->
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-5">Gender</label>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Applicants[0].Gender}}</label>
                                <!-- <input type="label" class="form-control-plaintext" [value]="applicationList.Applicants[0].Gender"> -->
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">Nationality</div>
                            <div class="col-sm-1">:</div>
                            <!-- <label class="col-sm-4 col-form-label">Nationality</label> -->
                            <div class="col-sm-6">
                                <label>{{applicationList.Center.Country1.CountryName}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">Permanent Address</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Applicants[0].Address1}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">Address 1</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Applicants[0].Address2}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">Address 2</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Applicants[0].Address3}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">Postcode</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Applicants[0].PostCode}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">City</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Applicants[0].City}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">State / Provence</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Applicants[0].State}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">Telephone No</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Applicants[0].ContactNo}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">Email Address</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Applicants[0].Email}}</label>
                            </div>                            
                        </div>
                    </form>
                    
                    <div class="row">
                        
                        
                    </div>
                    
                </div>
            </div>
        </div>        
    </div>
    <!-- Page Heading -->
    <!-- /.container-fluid -->
    <div class="row">
        <div class="col-md-12 order-md-1">
            <div class="card  mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" style="font-size: 16px;">C. PARTICULAR OF PASSPORT / TRAVEL DOCUMENT</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                   <form>
                        <div class="form-group row">
                            <div class="col-sm-5">Passport Number</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <!-- <label>{{applicationList.Applicants[0].TravelDocuments[0].PassportNo}}</label> -->
                                <a [routerLink]="['/travel-document',{applicantId:applicationList.Applicants[0].ApplicantID}]">{{applicationList.Applicants[0].TravelDocuments[0].PassportNo}}</a>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">Place / Country of Issue</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Applicants[0].TravelDocuments[0].IssuingCountry}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">Father Name</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Applicants[0].TravelDocuments[0].FatherName}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">Mother Name</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Applicants[0].TravelDocuments[0].MotherName}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">Issue  Date</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{issueDate}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">Expiry  Date</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{expiryDate}}</label>
                            </div>                            
                        </div>
                    
                   </form>
                </div>
            </div>
        </div>
        <!-- <div *ngIf="!applicationList.Contact.AgencyID" >abc</div>
        <div *ngIf= "applicationList.Contact.AgencyID!=null" >abc</div>
        <div *ngIf="applicationList.Sponsors?.length">aaa</div> -->
        <!-- <ng-template #sponsor>
            <div *ngIf="applicationList.Sponsors?.length" >rrr</div>
        </ng-template> -->
       
        
        <div class="col-md-12 order-md-2">
            <div class="card  mb-4">
                <div *ngIf= "applicationList.Sponsors?.length ; else agentDetail">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" style="font-size: 16px;">D. DETAIL INFORMATION OF AGENT OR SPONSOR</h6>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group row">
                                <div class="col-sm-5">Full Name (Capital Letter – as per in Passport)</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-6">
                                    <label>{{applicationList.Sponsors[0].Name}}</label>
                                </div>                            
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">Passport Number</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-6">
                                    <label>{{applicationList.Sponsors[0].NationalIDNumber}}</label>
                                </div>                            
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">Address</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-6">
                                    <label>{{applicationList.Sponsors[0].Address1}}&nbsp;
                                        {{applicationList.Sponsors[0].Address2}}&nbsp;
                                        {{applicationList.Sponsors[0].Address3}}

                                    </label>
                                </div>                            
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">Postcode</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-6">
                                    <label></label>
                                </div>                            
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">City</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-6">
                                    <label>{{applicationList.Sponsors[0].City}}</label>
                                </div>                            
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">State / Provence</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-6">
                                    <label>{{applicationList.Sponsors[0].State}}</label>
                                </div>                            
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">Telephone No</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-6">
                                    <label>{{applicationList.Sponsors[0].ContactNo}}</label>
                                </div>                            
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5">Email Address</div>
                                <div class="col-sm-1">:</div>
                                <div class="col-sm-6">
                                    <label>{{applicationList.Sponsors[0].Email}}</label>
                                </div>                            
                            </div>
                        </form>
    
                    </div>
                    

                </div>
                <ng-template #agentDetail>
                    <div *ngIf= "applicationList.Contact.AgencyID!=null">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="font-size: 16px;">D. DETAIL INFORMATION OF AGENT OR SPONSOR</h6>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group row">
                                    <div class="col-sm-5">Full Name (Capital Letter – as per in Passport)</div>
                                    <div class="col-sm-1">:</div>
                                    <div class="col-sm-6">
                                        <label>{{applicationList.Contact.Agency.ContactPerson}}</label>
                                    </div>                            
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-5">Passport Number</div>
                                    <div class="col-sm-1">:</div>
                                    <div class="col-sm-6">
                                        <label>{{applicationList.Contact.IDNumber}}</label>
                                    </div>                            
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-5">Address</div>
                                    <div class="col-sm-1">:</div>
                                    <div class="col-sm-6">
                                        <label>{{applicationList.Contact.Agency.Address}}</label>
                                    </div>                            
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-5">Postcode</div>
                                    <div class="col-sm-1">:</div>
                                    <div class="col-sm-6">
                                        <label>{{applicationList.Contact.Agency.Pincode}}</label>
                                    </div>                            
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-5">City</div>
                                    <div class="col-sm-1">:</div>
                                    <div class="col-sm-6">
                                        <label>{{applicationList.Contact.Agency.City}}</label>
                                    </div>                            
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-5">State / Provence</div>
                                    <div class="col-sm-1">:</div>
                                    <div class="col-sm-6">
                                        <label>{{applicationList.Contact.Agency.State}}</label>
                                    </div>                            
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-5">Telephone No</div>
                                    <div class="col-sm-1">:</div>
                                    <div class="col-sm-6">
                                        <label>{{applicationList.Contact.Agency.ContacNo}}</label>
                                    </div>                            
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-5">Email Address</div>
                                    <div class="col-sm-1">:</div>
                                    <div class="col-sm-6">
                                        <label>{{applicationList.Contact.Agency.Email}}</label>
                                    </div>                            
                                </div>
                            </form>
        
                        </div>
                        

                    </div>

                </ng-template>
                <!-- <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary" style="font-size: 16px;">D. DETAIL INFORMATION OF AGENT OR SPONSOR</h6>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <div class="col-sm-5">Full Name (Capital Letter – as per in Passport)</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Contact.Name}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">Passport Number</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Contact.IDNumber}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">Address</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Contact.Address}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">Postcode</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Contact.PostCode}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">City</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Contact.City}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">State / Provence</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Contact.State}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">Telephone No</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Contact.ContactNo}}</label>
                            </div>                            
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5">Email Address</div>
                            <div class="col-sm-1">:</div>
                            <div class="col-sm-6">
                                <label>{{applicationList.Contact.Email}}</label>
                            </div>                            
                        </div>
                    </form>

                </div> -->
            </div>
        </div>
       
    </div>
    <div class="row" style="text-align: center;">
        <div class="col-md-12 order-md-4">
            <div class="mb-4">
                <!-- <button class="btn btn-primary " type="submit" (click)="onClick($event)">Back to list(s)</button>&nbsp; -->
                <button class="btn btn-primary " type="submit" (click)="onClick($event)">Back to list(s)</button>&nbsp;
                <!-- <button class="btn btn-primary " type="submit" (click)="onBioClick($event)">Submit BioMetric Information</button> -->
            </div>
        </div>
    </div>
</div>
<!-- End of Main Content -->
<!-- /.container-fluid -->
<router-outlet></router-outlet>